input{
    display: block;
    margin-bottom: 12px;
    border: 0;
    padding: 7px;
}

button{
    padding: 5px 30px;
    border: 0;
    background-color: #ed855b;
    font-weight: bold;
    color: white;
}
